[package]
name = "actix-web-opentelemetry"
version = "0.5.0"
authors = ["Julian Tescher <julian@outtherelabs.com>"]
description = "OpenTelemetry integration for Actix Web apps"
homepage = "https://github.com/OutThereLabs/actix-web-opentelemetry"
repository = "https://github.com/OutThereLabs/actix-web-opentelemetry"
readme = "README.md"
categories = ["api-bindings"]
keywords = ["actix", "actix-web", "opentelemetry", "jaeger", "prometheus"]
license = "MIT"
edition = "2018"

[dependencies]
actix-http = "2.0"
actix-web = "3.0"
futures = "0.3"
opentelemetry = "0.8"
serde = "1.0"

[dev-dependencies]
opentelemetry-jaeger = "0.7"
