[package]
name = "actix-web-opentelemetry"
version = "0.11.0-beta.2"
authors = ["Julian Tescher <julian@outtherelabs.com>"]
description = "OpenTelemetry integration for Actix Web apps"
homepage = "https://github.com/OutThereLabs/actix-web-opentelemetry"
repository = "https://github.com/OutThereLabs/actix-web-opentelemetry"
readme = "README.md"
categories = ["api-bindings"]
keywords = ["actix", "actix-web", "opentelemetry", "jaeger", "prometheus"]
license = "MIT"
edition = "2018"

[features]
metrics = ["opentelemetry/metrics", "opentelemetry-prometheus", "prometheus"]

[dependencies]
actix-http = { version = "3.0.0-beta.4", default-features = false, features = ["compress"] }
actix-web = { version = "4.0.0-beta.4", default-features = false, features = ["compress"] }
awc = { version = "3.0.0-beta.3", default-features = false, features = ["compress"] }
futures = "0.3"
opentelemetry = { version = "0.12", default-features = false, features = ["trace", "metrics", "tokio-support"] }
opentelemetry-prometheus = { version = "0.5", optional = true }
opentelemetry-semantic-conventions = "0.4"
prometheus = { version = "0.11", default-features = false, optional = true }
serde = "1.0"

[dev-dependencies]
opentelemetry-jaeger = { version = "0.11", features = ["tokio"] }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
