[package]
name = "actix-web-opentelemetry"
version = "0.11.0-beta.7"
authors = ["Julian Tescher <julian@outtherelabs.com>"]
description = "OpenTelemetry integration for Actix Web apps"
homepage = "https://github.com/OutThereLabs/actix-web-opentelemetry"
repository = "https://github.com/OutThereLabs/actix-web-opentelemetry"
readme = "README.md"
categories = ["api-bindings"]
keywords = ["actix", "actix-web", "opentelemetry", "jaeger", "prometheus"]
license = "MIT"
edition = "2018"

[features]
metrics = ["opentelemetry/metrics", "opentelemetry-prometheus", "prometheus"]
sync-middleware = []

[dependencies]
actix-http = { version = "3.0.0-beta.17", default-features = false, features = ["compress-zstd"] }
actix-web = { version = "4.0.0-beta.16", default-features = false, features = ["compress-zstd"] }
awc = { version = "3.0.0-beta.15", optional = true, default-features = false, features = ["compress-zstd"] }
futures-util = { version = "0.3", default-features = false, features = ["alloc"] }
opentelemetry = { version = "0.16", default-features = false, features = ["trace", "metrics", "rt-tokio-current-thread"] }
opentelemetry-prometheus = { version = "0.9", optional = true }
opentelemetry-semantic-conventions = "0.8"
prometheus = { version = "0.12", default-features = false, optional = true }
serde = "1.0"

[dev-dependencies]
actix-web-opentelemetry = { path = ".", features = ["metrics", "sync-middleware"] }
opentelemetry-jaeger = { version = "0.15", features = ["rt-tokio-current-thread"] }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
